<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true  }"></ngx-loading>

<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Add Email Transactions'">
      <form class="md-float-material" autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="col-12">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label"><b>From : {{emailInfo.name +"   |   "+ emailInfo.email}} </b></label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label"><b>To</b></label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" formControlName="emailpenerima" placeholder="mail@xxx.xxx">
                  <div class="col-form-label text-danger"
                    *ngIf="!myForm.get('emailpenerima').valid && myForm.get('emailpenerima').touched">Sorry, Email is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label"><b>Notification Status</b></label>
                    <div class="col-sm-12">
                      <select class="custom-select" formControlName="isActived" placeholder="Silakan Pilih">
                        <!-- <option disabled selected>Silakan Pilih</option> -->
                        <option [ngValue]="null" disabled>Select Status</option>
                        <option *ngFor="let option of options" [ngValue]="option.id">{{option.label}}</option>
                      </select>
                      <div class="col-form-label text-danger"
                        *ngIf="!myForm.get('isActived').valid && myForm.get('isActived').touched">Sorry, Status Transaksi is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label"><b>Select Category</b></label>
                    <div class="col-sm-12">
                      <select class="custom-select" formControlName="kategori" placeholder="Silakan Pilih">
                        <!-- <option disabled selected>Silakan Pilih</option> -->
                        <option [ngValue]="null" disabled>Select Category</option>
                        <option *ngFor="let categori of categories" [ngValue]="categori.id">{{categori.label}}</option>
                      </select>
                      <div class="col-form-label text-danger" *ngIf="!myForm.get('kategori').valid && myForm.get('kategori').touched">Sorry, Category is required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label"><b>Subject</b></label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" formControlName="subject" placeholder="Subject">
                  <div class="col-form-label text-danger"
                    *ngIf="!myForm.get('subject').valid && myForm.get('subject').touched">Sorry, Subject is required
                  </div>
                </div>
              </div>
            </div>
            <!-- untuk pemilihan tanggal menggunakan ngif -->
            <div class="col-md-5">
              <div *ngIf="myForm.get('kategori').value == 'bydate'; else bybetween">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-12 col-form-label"><b>Date</b></label>
                      <div class="col-sm-12">
                        <select class="custom-select" formControlName="by_date">
                          <option *ngFor="let tanggal of tanggals" value="{{tanggal}}">{{tanggal}}</option>
                        </select>
                        <div class="col-form-label text-danger" *ngIf="!myForm.get('by_date').valid && myForm.get('by_date').touched">Sorry, Date is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #bybetween>
                <div *ngIf="myForm.get('kategori').value == 'bybetween'; else pilihkategori">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-12 col-form-label"><b>Start Date</b></label>
                        <div class="col-sm-12">
                          <input type="date" class="form-control" formControlName="start_date">
                          <div class="col-form-label text-danger"
                            *ngIf="!myForm.get('start_date').valid && myForm.get('start_date').touched">Sorry, Start Date is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-12 col-form-label"><b>End Date</b></label>
                        <div class="col-sm-12">
                          <input type="date" class="form-control" formControlName="end_date">
                          <div class="col-form-label text-danger"
                            *ngIf="!myForm.get('end_date').valid && myForm.get('end_date').touched">Sorry, End Date is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template #pilihkategori>                
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-sm-12 col-form-label"><b></b></label>
                      <div class="col-sm-12">
                        <!-- <div class="col-form-label text-danger">
                          Silakan Memilih Kategori Terlebih Dahulu
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label"><b>Message</b></label>
                <div class="col-sm-12">
                  <editor formControlName="pesan"
                    [init]="{
                         height: 500,
                         menubar: false,
                         plugins: [
                           'advlist autolink lists link image charmap print preview anchor',
                           'searchreplace visualblocks code fullscreen',
                           'insertdatetime media table paste code help wordcount'
                         ],
                         toolbar:
                           'undo redo | formatselect | bold italic underline backcolor | \
                           table | alignleft aligncenter alignright alignjustify | \
                           bullist numlist outdent indent | removeformat | help'
                       }"
                    >
                  </editor>
                  <div class="col-form-label text-danger"
                    *ngIf="!myForm.get('pesan').valid && myForm.get('pesan').touched">Sorry, Message is required
                  </div>             
                </div>
              </div>
            </div>
          </div>            
          <div class="row">
            <div class="col-md-2">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">&nbsp;</label>
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-primary btn-sm">Add Email</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>

