<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true  }"></ngx-loading>

<div class="row">
  <div class="col-sm-12">
    <!-- Basic Form Inputs card start -->
    <app-card [title]="'List User'">
      <!-- <p>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</p> -->
      <div class="dt-responsive">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
            <div>
              <label class="label-control">Show
                <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="25">25</option>
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="100">100</option>
                </select>
                entries
              </label>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div style="text-align: right;">
              <label>Search:
                <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search"
                  placeholder="Search name">
              </label>
            </div>
          </div>
        </div>
        <!-- <div class="panel-heading">User information</div>-->
        <div class="table-responsive">
          <table class="table table-striped table-bordered full-data-table text-center pull-center" [mfData]="data | 
          FilterTable: {
            name: filterQuery,
            username: filterQuery
          }" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="no">No.</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="username">Username</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="name">Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="action">Action</mfDefaultSorter>
                </th>
              </tr>
              <tr>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data, index as i">
                <td>{{i+1}}</td>
                <td>{{item.username}}</td>
                <td>{{item.name}}</td>
                <td class="action-icon">
                  <a style="cursor:pointer" (click)="updateUser(item.id)" class="text-muted f-18"
                    ngbTooltip="Update User">
                    <i class="icofont icofont-edit-alt"></i>
                  </a> - 
                  <a style="cursor:pointer" (click)="deleteUser(item.id)" class="text-muted f-18"
                    ngbTooltip="Delete User">
                    <i class="icofont icofont-delete-alt"></i>
                  </a>
                </td>
              </tr>
            </tbody>
            <tfoot>

              <tr>
                <td colspan="4">
                  <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                </td>
              </tr>
              <tr *ngIf="mf.data.length == 0">
                <td colspan="4" class="text-center">Data is empty</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </app-card>
  </div>
</div>