<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true  }"></ngx-loading>

<div class="row">
  <div class="col-sm-12">
    <!-- Basic Form Inputs card start -->
    <app-card [title]="'Telegram Transaction List'">
      <!-- <p>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</p> -->
      <div class="dt-responsive">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
            <div>
              <label class="label-control">Show
                <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="25">25</option>
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="100">100</option>
                </select>
                entries
              </label>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div style="text-align: right;">
              <label>Search:
                <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search"
                  placeholder="Search">
              </label>
            </div>
          </div>
        </div>
        <!-- <div class="panel-heading">User information</div>-->
        <div class="table-responsive">
          <table class="table table-striped table-bordered full-data-table text-center pull-center" [mfData]="data | 
          FilterTable: {
            email_pengirim: filterQuery,
            email_penerima: filterQuery,
            subject: filterQuery,
            start_date: filterQuery,
            end_date: filterQuery,
            by_date: filterQuery,
            isActived: filterQuery,
            NameisApproved: filterQuery
          }" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="no">No.</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="email_pengirim">From</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="email_penerima">To</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="subject">Subject</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="by_date">Date</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="isActived">Active</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="NameisApproved">Approve</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="action">Action</mfDefaultSorter>
                </th>
              </tr>
              <tr>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data index as i">
                <td>{{i+1}}</td>
                <td>{{item.email_pengirim}}</td>
                <td>{{item.email_penerima}}</td>
                <td>{{item.subject}}</td>
                <td>
                  <div *ngIf="item.kategori == 'bydate'; else bybetween">
                    Setiap Tanggal {{item.by_date}}
                  </div>
                  <ng-template #bybetween>
                    <div>
                      {{item.start_date | date}} <b>-</b> {{item.end_date | date}}
                    </div>
                  </ng-template>
                </td>
                <td>{{item.isActived}}</td>
                <td>
                  <font color="white">
                    <div *ngIf="item.isApproved == '1'; else NotApproved">
                      <a style="cursor:pointer" (click)="isApproved(item.id, item.isApproved-1)" class="btn btn-primary btn-md" ngbTooltip="Approved, Klik untuk membatalkan persetujuan">{{item.NameisApproved}}</a>
                    </div>
                    <ng-template #NotApproved>
                      <div>
                        <a style="cursor:pointer" (click)="isApproved(item.id, item.isApproved+1)" class="btn btn-danger btn-md" ngbTooltip="Not Approved, Klik untuk menyetujui">{{item.NameisApproved}}</a>
                      </div>
                    </ng-template>
                  </font>
                </td>
                <td class="action-icon">
                  <a style="cursor:pointer" (click)="updateEmail(item.id)" class="text-muted f-18"
                    ngbTooltip="Update Email">
                    <i class="icofont icofont-edit-alt"></i>
                  </a> - 
                  <a style="cursor:pointer" (click)="deleteEmail(item.id)" class="text-muted f-18"
                    ngbTooltip="Delete Email">
                    <i class="icofont icofont-delete-alt"></i>
                  </a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="8">
                  <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                </td>
              </tr>
              <tr *ngIf="mf.data.length == 0">
                <td colspan="8" class="text-center">Data is empty</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </app-card>
  </div>
</div>