<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true  }"></ngx-loading>

<div class="row">
  <div class="col-sm-12"> 

    <app-card [title]="'Update Transaction'">
      <form class="md-float-material" autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()" *ngFor="let item of data">
        <div class="col-12">

          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label"><b>NIK</b></label>
                <div class="col-sm-12">
                  <input type="hidden" class="form-control" formControlName="id" readonly>
                  <input (keypress)="service.noSpecialChars($event)" type="text" class="form-control" formControlName="nik" placeholder="NIK">
                  <div class="col-form-label text-danger"
                    *ngIf="!myForm.get('nik').valid && myForm.get('nik').touched">Sorry, nik is required
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label"><b>Notification status</b></label>
                <div class="col-sm-12">
                  <select class="custom-select" formControlName="isActived">
                    <option [ngValue]="null">Select Notification Status</option>
                    <option *ngFor="let option of options" 
                            [ngValue]="option.id">{{option.label}}</option>
                  </select>
                  <div class="col-form-label text-danger"
                  *ngIf="!myForm.get('isActived').valid && myForm.get('isActived').touched">Sorry, Status Transaksi is required
                </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label"><b>Select Category</b></label>
                <div class="col-sm-12">
                  <select  (change)="setUserCategoryValidators()" class="custom-select" formControlName="kategori" placeholder="Silakan Pilih">
                    <option [ngValue]="null">Select Notification Category</option>
                    <option *ngFor="let categori of categories" 
                            [ngValue]="categori.id">{{categori.label}}</option>
                  </select>
                  <div class="col-form-label text-warning"
                  *ngIf="myForm.get('kategori').value == 'date' && myForm.get('by_date').value == null">Select date to send notification
                  </div>
    
                  <div class="col-form-label text-danger"
                  *ngIf="myForm.get('kategori').value == null && myForm.get('kategori').touched">Sorry, Category is Required
                  </div>
    
                <div class="col-form-label text-warning"
                  *ngIf="myForm.get('kategori').value == 'between' && myForm.get('start_date').value == '' && myForm.get('end_date').value == ''">Select start date and end date
                </div>
                </div>
              </div>
            </div> 
          </div>

          <div class="row">
            <div class="col-md-4">
              <div *ngIf="myForm.get('kategori').value == 'date'; else bybetween">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label"><b>Date</b></label>
                <div class="col-sm-12">
                  <select class="custom-select" formControlName="by_date" placeholder="Silakan Pilih">
                        <option [ngValue]="null">Select Date</option>
                        <option *ngFor="let date of dates" 
                                    [ngValue]="date.date">{{date.date}}</option>
                  </select>
                <div class="col-form-label text-danger" *ngIf="!myForm.get('by_date').valid && myForm.get('by_date').touched">Sorry, Date is required
                        </div>
                </div>
              </div>
              </div>
            </div>
            </div>

          <div class="row">
            <ng-template #bybetween>
              <div *ngIf="myForm.get('kategori').value == 'between'">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-12 col-form-label"><b>Start Date</b></label>
                      <div class="col-sm-12">
                        <input type="date" class="form-control" formControlName="start_date">
                        <div class="col-form-label text-danger"
                          *ngIf="!myForm.get('start_date').valid && myForm.get('start_date').touched">Sorry, Start Date is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-12 col-form-label"><b>End Date</b></label>
                      <div class="col-sm-12">
                        <input type="date" class="form-control" formControlName="end_date">
                        <div class="col-form-label text-danger"
                          *ngIf="!myForm.get('end_date').valid && myForm.get('end_date').touched">Sorry, End Date is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
          
          <div class="row">
            
            <div class="col-md-8">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label"><b>Message</b></label>
                <div class="col-sm-12">
                  <textarea  class="form-control" formControlName="message" placeholder="message"> </textarea>
                  <div class="col-form-label text-danger"
                    *ngIf="!myForm.get('message').valid && myForm.get('message').touched">Sorry, message is required
                  </div>
                </div>
              </div>
            </div>
            
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">&nbsp;</label>
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-primary btn-sm">Update transaction</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>

