
<div class="row" *ngFor="let item of transaksi_email">
  <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Email Transaction </h4>
        <div class="d-flex justify-content-between">
        <p class="text-muted"> {{item.total_transaksi_email}} Notification </p>
          <!-- <p class="text-muted">max: 40</p> -->
        </div>
        <div class="progress progress-md">
        <div class="progress-bar bg-info w-100" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Telegram Transaction</h4>                      
        <div class="d-flex justify-content-between" *ngFor="let tele of transaksi_telegram">
          <p class="text-muted"> {{tele.total_transaksi_telegram}} Notification</p>
          <!-- <p class="text-muted">max: 120</p> -->
        </div>
        <div class="progress progress-md">
          <div class="progress-bar bg-success w-100" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Status Active</h4>
        <div class="d-flex justify-content-between" *ngFor="let tele of transaksi_telegram" >
          <p class="text-muted"> {{tele.total_aktif_telegram + item.total_aktif_email_user}} Actived</p>
          <!-- <p class="text-muted">max: 54</p> -->
        </div>
        <div class="progress progress-md">
          <div class="progress-bar bg-danger w-100" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-xl-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Status Approve</h4>
        <div class="d-flex justify-content-between" *ngFor="let tele of transaksi_telegram">
          <p class="text-muted"> {{tele.total_approve_telegram + item.total_approve_email_user}} Approved</p>
          <!-- <p class="text-muted">max: 143</p> -->
        </div>
        <div class="progress progress-md">
          <div class="progress-bar bg-warning w-100" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="row">
  <div class="col-12 col-md-6 col-xl-3 grid-margin stretch-card">
    <div class="card">
  
        <img src="assets/images/1.png"  alt="image small" height="300" width="auto">
        <h1 style="position: absolute;
        line-height: 300px;
        margin-left: auto;
        z-index: 2;
        color: white;">100</h1>
      
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-3 grid-margin stretch-card">
    <div class="card">

      <img src="assets/images/2.png"  alt="image small" height="300" width="auto">
   
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-3 grid-margin stretch-card">
    <div class="card">

      <img src="assets/images/3.png"  alt="image small" height="300" width="auto">
  
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-3 grid-margin stretch-card">
    <div class="card">

      <img src="assets/images/4.png"  alt="image small" height="300" width="auto">

    </div>
  </div>
</div> -->




<div class="row">
  <div class="col-sm-12">
    <app-card>
      <h4 class="card-title">Calendar</h4>
      <!-- <full-calendar       	
      	defaultView="dayGridMonth"
      	[events]="calendarEvents" 
        [plugins]="calendarPlugins"
        >
      </full-calendar> -->
      <full-calendar
      [plugins]="calendarOptions.plugins"
      [header]="calendarHeader"
      [buttonText]="calendarOptions.buttonText"
      [defaultView]="calendarOptions.defaultView"
      
    ></full-calendar>
    </app-card>
  </div>
</div>


