<ul class="nav">
  <li class="nav-item sidebar-category">
    <p>Navigation</p>
    <span></span>
  </li>
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link" routerLink="/admin/home">
      <i class="mdi mdi-view-quilt menu-icon"></i>
      <span class="menu-title">Dashboard</span>
    </a>
  </li>
  <li class="nav-item sidebar-category">
    <p>Menu</p>
    <span></span>
  </li>
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link" data-toggle="collapse" href="#users" aria-expanded="false" aria-controls="users">
      <i class="mdi mdi-account menu-icon"></i>
      <span class="menu-title">User</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="users">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/user/add-user">Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/user/list-user">list</a>
        </li>
      </ul>
    </div>
  </li>
  
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link" data-toggle="collapse" href="#emails" aria-expanded="false" aria-controls="emails">
      <i class="mdi mdi-email menu-icon"></i>
      <span class="menu-title">Email</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="emails">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/email/add-email">Add Transaksi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/email/list-email">List Transaksi</a>
        </li>
      </ul>
    </div>
  </li>
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link" data-toggle="collapse" href="#telegrams" aria-expanded="false" aria-controls="telegrams">
      <i class="mdi mdi-cellphone menu-icon"></i>
      <span class="menu-title">Telegram</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="telegrams">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/telegram/add-telegram">Add Transaksi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/telegram/list-telegram">List Transaksi</a>
        </li>
      </ul>
    </div>
  </li>


  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link" data-toggle="collapse" (click)="logout()" href="#users" aria-expanded="false" aria-controls="users">
      <i class="mdi mdi-logout menu-icon"></i>
      <span class="menu-title">Logout</span>
    </a>
  </li>

</ul>