<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true  }"></ngx-loading>

<div class="row">
  <div class="col-sm-12">

    <app-card [title]="'Update User'">
      <form class="md-float-material" autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()" *ngFor="let item of data">
        <div class="col-12">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">Username</label>
                <div class="col-sm-12">
                  <input type="hidden" class="form-control" formControlName="id" readonly>
                  <input (keypress)="service.noSpecialChars($event)" type="text" class="form-control" formControlName="username">
                  <div class="col-form-label text-danger"
                    *ngIf="!myForm.get('username').valid && myForm.get('username').touched">Sorry, Username is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">Name</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" formControlName="name">
                  <div class="col-form-label text-danger"
                    *ngIf="!myForm.get('name').valid && myForm.get('name').touched">Sorry, Name is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label">&nbsp;</label>
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-primary btn-sm">Update User</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>

