<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true  }"></ngx-loading>

<div class="row">
  <div class="col-sm-12">
    <!-- Basic Form Inputs card start -->
    <app-card [title]="'Telegram Transaction List'">
      <!-- <p>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</p> -->
      <div class="dt-responsive">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
            <div>
              <label class="label-control">Show
                <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="25">25</option>
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="100">100</option>
                </select>
                entries
              </label>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div style="text-align: right;">
              <label>Search:
                <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search"
                  placeholder="Search ">
              </label>
            </div>
          </div>
        </div>
        <!-- <div class="panel-heading">User information</div>-->
        <div class="table-responsive">
          <table class="table table-striped table-bordered full-data-table text-center pull-center" [mfData]="data | 
          FilterTable: {
            idchat: filterQuery,
            message: filterQuery,
            start_date: filterQuery,
            end_date: filterQuery,
            isActived: filterQuery,
            isApproved: filterQuery
          }" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="idchat">No.</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="idchat">Recipient's Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="message">Message</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="start_date">Delivery Date</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="isActived">Active</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="isApproved">Approve</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="action">Action</mfDefaultSorter>
                </th>
              </tr>
              <tr>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data, index as i">
                <td>{{i+1}}</td>
                <td>{{item.nama}}</td>
                
                <td class="action-icon"> <a class="text-muted f-18"  ngbTooltip="see message">  <i data-toggle="modal" data-target="#exampleModal" (click)="lihatPesan(item.id)" class="icofont icofont-ui-message"></i></a> </td>
                <td >
                    <div *ngIf="item.kategori == 'date'; else between">
                      {{item.by_date }}
                    </div>
                    <ng-template #between>
                    <div>{{item.start_date | date }} - {{item.end_date | date}}</div>
                    </ng-template>
                </td>

                <td><button  [ngbTooltip]="[item.isActived == 1 ? 'click to non activate' : 'click to activate']" (click) = "onActived(item.id, item.isActived)" [ngClass]="[ item.isActived == 1 ? 'btn btn-primary' : 'btn btn-danger']">{{ item.isActived == 1 ? 'Actived' : 'Not Actived' }}</button></td>
                <td><button [ngbTooltip]="[item.isApproved == 1 ? 'approved' : 'waiting for admin approval']"  [ngClass]="[ item.isApproved == 1 ? 'btn btn-primary' : 'btn btn-danger']">{{item.isApproved == 1 ? 'Approved' : 'Not Approved' }}</button></td>
                <td class="action-icon">
                  <a style="cursor:pointer" (click)="updateTelegram(item.id)" class="text-muted f-18"
                    ngbTooltip="Update Transaksi">
                    <i class="icofont icofont-edit-alt"></i>
                  </a> - 
                  <a style="cursor:pointer" (click)="deleteTelegram(item.id)" class="text-muted f-18"
                    ngbTooltip="Delete Transaksi">
                    <i class="icofont icofont-delete-alt"></i>
                  </a>
                </td>
              </tr>
            </tbody> 
            <tfoot>
 
              <tr>
                <td colspan="7">
                  <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                </td>
              </tr>
              <tr *ngIf="mf.data.length == 0">
                <td colspan="7" class="text-center">Data is empty</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </app-card>
  </div>
</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Isi Pesan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <p *ngFor="let isi of pesan">
        {{isi.message}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>