<body>
  <div class="container-scroller d-flex">
    <!-- partial:partials/_sidebar.html -->
    <nav style="background-color: rgb(27, 67, 153);" class="sidebar  sidebar-offcanvas" id="sidebar">
      <admin-nav></admin-nav>
    </nav> 
    <!-- partial -->
    <div class="container-fluid page-body-wrapper" style="padding-left: 0;padding-right: 0;">
      <!-- partial:partials/_settings-panel.html -->
      <nav class="navbar col-lg-12 col-12 px-0 py-4 d-flex flex-row">
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <div class="navbar-brand-wrapper">
            <a class="navbar-brand brand-logo"><img src="../assets/images/logo.png" alt="logo" width="120px" /></a>
            <!-- <a class="navbar-brand brand-logo-mini" href="index.html"><img
                src="https://www.urbanui.com/spica/template/images/logo-mini.sp" alt="logo" /></a> -->
          </div>
          <ul class="navbar-nav navbar-nav-right">
           
       
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
        <div style="box-shadow: 0 3px 10px rgba(64, 125, 218, 0.5);" class="navbar-menu-wrapper navbar-search-wrapper d-none d-lg-flex align-items-center">
          <ul class="navbar-nav mr-lg-2">
            <li class="nav-item nav-search d-none d-lg-block">
              <h4 style="color: grey;" class="font-weight-bold mb-0 d-none d-md-block mt-1">Welcome back,  {{userInfo.name | titlecase }}</h4>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
        
            <li class="nav-item">
                <h5 style="color: dimgrey;" class="mb-0 font-weight-bold d-none d-xl-block">{{tanggal | date:'d MMMM  y, h:mm:ss a' }}</h5>
            </li>
          </ul>
        </div>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper" style="background-color: white;">
          <router-outlet>
            <spinner></spinner>
          </router-outlet>
        </div>
        <footer class="footer">
          <div class="card">
            <div class="card-body">
              <div class="d-sm-flex justify-content-center justify-content-sm-between py-2">
                <p class="text-center text-sm-left d-block d-sm-inline-block mb-0">Copyright © PT. Amerta Indah Otsuka.
                  All rights reserved.</p>
                <p class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center mb-0">Hand-crafted & made with <i
                    class="mdi mdi-heart-outline text-muted icon-sm"></i></p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</body>