<body >
  <div class="container-scroller d-flex">
    <div class="container-fluid page-body-wrapper full-page-wrapper d-flex">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div style="box-shadow: 0 3px 10px rgba(64, 125, 218, 0.5);" class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="../../../assets/images/logo1.png" alt="logo">
              </div>
              <h4>Welcome back!</h4>
              <h6 class="font-weight-light">Happy to see you again!</h6>
              <form [formGroup]="loginForm" class="pt-3">
                <div class="form-group">
                  <input type="text" formControlName="username"  class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback alert-notice">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" formControlName="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback alert-notice">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                  </div> 
                </div>
                <div class="mt-3">
              
                  <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="LOGIN" (click)="loginAdmin()">
                </div>
                <div class="my-2 d-flex justify-content-between align-items-right">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                    </label>
                  </div>
                  <a style="font-size: 18px; font-weight: bold; color:rgb(41, 40, 40);" routerLink="/auth/login" class="font-weight-medium auth-link text-black">User login ?</a>
                </div>


              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

</body>



